html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 135%;
}
a {
  text-decoration: none;
  color: #fff;
}
a.dashed {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px dashed;
  margin-bottom: -2px;
}
a.accent {
  color: #fabf2b;
  transition: color 0.1s;
}
a.accent:hover {
  color: #ffda7c;
}
h2 {
  margin: 40px 0 10px;
  font-weight: 100;
  color: #b7b7b7;
}
ul li { margin: 5px 0; font-size: 14px;}
form {
  display: block;
  width: 100%;
}
input,
select {
    display: block;
    width: auto;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
}
button,
.btn {
    padding: 10px;
    background-color: #fabf2b;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
img {
  max-width: 100%;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.page__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 60px;
}
.page__content p {
  font-size: 14px;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 32px;
  color: #fabf2b;
  font-weight: 700;
}
.container-mini {
  width: 360px;
  margin: 0 auto;
}
.container-mini > div {
  width: 100%;
  box-sizing: border-box;
}

/* Spinner */
.spinner {
  display: inline-block;
  top: 2px;
  width: .3em;
  height: .35em;
  position: relative;
  border-radius: 50%;
  border: 5px solid #fff9;
  border-right-color: #fabf2b;
  animation: rotateSpinner 800ms linear infinite;
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
