html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
input,
select {
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    outline: none;
    border: none;
}
button {
    padding: 10px;
    background-color: #fabf2b;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}