html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
input,
select {
    display: block;
    width: auto;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
}
button {
    padding: 10px;
    background-color: #fabf2b;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
img {
  max-width: 100%;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.page__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 60px;
}
